doctype html
html(style="height:100%;background:white")
    head
        title Login 
        link(rel="stylesheet", href="../css/style.css")

    body(style="display:flex;align-items:center;justify-content:center;height:100%;background:white")
                
            form( id="form",class="logform", action="/loged", method="post") 
                div(class="logtitle")
                    h1 Login Form
                div(class = "Container")
                    label(for="ID") ID
                    input(id="ID" class="Login" name ="ID" placeholder="ID" type="text" required)
                    
                    br
                    label(for="password") password 
                    input(id="password" class="Login" name ="password" placeholder="password" type="password" required)

                    button(type="submit" class="logbutton" style="margin: 10px;") Login 